!!! 5
html
  h1 Band Members
  .band-table
    table
      tr
        td
          input(type='button', value='Paul', onclick="location.href='/paul'")
        td
          input(type='button', value='Scott', onclick="location.href='/band'")
        td
          input(type='button', value='Brian', onclick="location.href='/'")
        td
          input(type='button', value='Joe', onclick="location.href='/'")
