extends layout
block content
  h1 Band Members
  P
  .member1Right
    | Paul 
    br
    | Guitar
    br
  P
  .member1Left
    | Scott 
    br
    | Vox
    br
  P
  .member2Right
    | Brian 
    br
    | Guitar
    br
  P
  .member2Left
    | Joe 
    br
    | Drums
    br
