extends layout
block content
  include bandLayout.jade
  .bandContent
    #bandSplit
      .imgBand
        img(src='/images/DL_Brian.jpg', width='300', height='382')
      .aboutBand
        p
          | Playing guitar since he was 14, Brian Kurtz has been crafting 
          | his skill for almost 15 years. Starting off listening to bands 
          | like Nirvana and Pearl Jam, Brian quickly broadened his taste 
          | into heavy music listening to Megadeth, Metallica and Black Sabbath.
        p
          | Bringing his unique style influenced (think Hendrix, Clapton, 
          | Mustaine, Hetfield, Hammet and Cantrel), Brian joined his first 
          | band in 1996. This band exisitedunder a few different names 
          | (Pea Shooter, Negative Feedback and Suspended in Kaos) brought 
          | him through the end of high school and into college eventually 
          | coming to an end in 2002.
        p
          | During an experimental phase, Brian joined Intellectual Confusion 
          | in 2000 combining Pink Flyod and Megadeth. In fact, Brian 
          | originally joined the band as the lead singer but quickly 
          | switched gears and took over guitar responsibilies. 2002 brought 
          | Brian into Misaligned. Started by his brother and his roommate, 
          | Brian joined as just a practice buddy for his roommate.
        p
          | In 2003 the tragic death of high school band mate Ricky 
          | (inspiration for the Dead-Lift song Americo's Melody) introduced 
          | Brian and Misaligned to Dead-Lift. After this Misaligned and 
          | Dead-Lift developed a great relationship and played many shows 
          | together including two at Sheppards Park in Lake George during 
          | Americade (04 and 05). Misaligned played at many venues including 
          | The Chance, The Loft and Club Crannel in Poughkeepsie. January 06 
          | brought the end of Misaligned at a farwell show at Popeyes in 
          | Peekskill.
        p
          | Brian was invited by Dead-Lift to try out as a second guitarist 
          | in the summer of 06. It was quickly realized that he was a good 
          | fit and jumped in feet first with his first two shows being the 
          | Most Original Band Contest Finals and opening Big Day Out at 
          | S.P.A.C in 06. Brian has helped write songs No Comprimise, 
          | Crossed the Line and Poor Man's Anthem among others.
        p
          | Brian plays a 1996 Fender American Standard Stratocaster with DR 
          | strings. His map equipment was stolen and sold by the bands former
          | bass player. 
        p
          | With Dead-Lift forging ahead with two new members Brian hopes to 
          | be a part of the great song writing and chemistry that the band has.

