extends layout
block content
  #discHeader
    | Discography
  .discMain
    .discImageLeft
      a(href='/PoorMans')
        img(src='/images/poormans.jpg', width='200', height='200', alt="Poor Man's Anthem")
    .discDescriptionRight
      | In 2007, with the departure of co-founder Tony DiSorbo (drums), 
      | line up changes were made. Bob Lavoy made quite an impact from the start. 
      | “Poor Man’s Anthem” is a harder hitting, more cohesive form of the original design. 
      | “Break-Down”, “No Compromise” and “Never Lay Down and Die” show the driving beats 
      | and flowing guitars that has evolved from the new line up. Title track, “Poor Man’s Anthem”, 
      | describes the present day struggle for the common man, as we all can relate to. 
      | The whole album embodies this view of making end’s meet, hardship of the middle class…it’s truly a Poor Man’s Anthem.
  .discMain 
    .discImageLeft
      a(href='/thestruggle')
        img(src='/images/thestruggle.jpg', width='200', height='200', alt="The Struggle")
    .discDescriptionRight
      | 4 guys from Schenectady NY + instruments + desire to make music=Dead-Lift.