link(rel='stylesheet', type='text/css', href='./fancybox/jquery.fancybox.css', media='screen')
script(type='text/javascript', src='./fancybox/jquery.fancybox.js')
script(type='text/javascript', src='./fancybox/jquery.fancybox-media.js')

script(type='text/javascript')
  $(document).ready(function() {  
    $(".yt").fancybox({
        openEffect   : 'none',
        closeEffect  : 'none',
        width        : '600',
        height       : '400',
        helpers      : {
          media        : {}
        }
      })
  })

script(type='text/javascript')
  $(document).ready(function() {
    $(".photoGallery").fancybox({
      openEffect    : 'fade',
      closeEffect   : 'fade'
      })
    })