extends layout
block content
  include fancybox
  .gallery
    a.photoGallery.fancybox(href='/images/gallery/gallery_672.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_672_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_673.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_673_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_674.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_674_th.jpg')

    a.photoGallery.fancybox(href='/images/gallery/gallery_675.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_675_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_676.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_676_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_677.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_677_th.jpg')

    a.photoGallery.fancybox(href='/images/gallery/gallery_678.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_678_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_679.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_679_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_680.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_680_th.jpg')

    a.photoGallery.fancybox(href='/images/gallery/gallery_681.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_681_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_682.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_682_th.jpg')
    a.photoGallery.fancybox(href='/images/gallery/gallery_683.jpg', rel='gallery1')
      img(src='/images/gallery/gallery_683_th.jpg')