extends layout
block content
  include fancybox
  #pageHeader 
    | Photo Gallery
  .gallery
    a.photoGallery.fancybox(href='/images/gallery/gallery_672.jpg')
      img(src='/images/gallery/gallery_672_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_673.jpg')
      img(src='/images/gallery/gallery_673_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_674.jpg')
      img(src='/images/gallery/gallery_674_th.jpg', alt='')

    a.photoGallery.fancybox(href='/images/gallery/gallery_675.jpg')
      img(src='/images/gallery/gallery_675_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_676.jpg')
      img(src='/images/gallery/gallery_676_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_677.jpg')
      img(src='/images/gallery/gallery_677_th.jpg', alt='')

    a.photoGallery.fancybox(href='/images/gallery/gallery_678.jpg')
      img(src='/images/gallery/gallery_678_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_679.jpg')
      img(src='/images/gallery/gallery_679_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_680.jpg')
      img(src='/images/gallery/gallery_680_th.jpg', alt='')

    a.photoGallery.fancybox(href='/images/gallery/gallery_681.jpg')
      img(src='/images/gallery/gallery_681_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_682.jpg')
      img(src='/images/gallery/gallery_682_th.jpg', alt='')
    a.photoGallery.fancybox(href='/images/gallery/gallery_683.jpg')
      img(src='/images/gallery/gallery_683_th.jpg', alt='')