extends layout
block content
  .main-table
    table
      tr
        th
          | BREAKING NEWS
      tr
        td
          | Dead-Lift looking for bassist
          br
          | If you have any leads please let us know!!
        td
      tr
        td
          | Posted on October 18
    table
      tr
        th
          | PLAYING WITH BRUISE BROTHERS
      tr
        td
          | The next show is November 9th at Bogies in Albany.
          | Let us know if you need tickets.
        td
      tr
        td
          | Posted on October 1
   
