extends layout
block content
  include bandLayout.jade
  .bandContent
    #bandSplit
      .imgBand
        img(src='/images/DL_Joe.jpg', width='300', height='382')
      .aboutBand
        p
          | Joe is a mystery to us all! 
