!!! 5
html
  head
    title Dead-Lift #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/buttonClick.js')
  body
    .screen
      header
        .imgHeader
          img(src='/images/DL_Banner1.jpg', width='800', 'height='300')
      .nav
        ul
          li 
            a(href='/') Home
          li 
            a(href='/band') Band
          li 
            a(href='#') Shows
          li 
            a(href='#') Media
          li 
            a(href='#') Releases
          li 
            a(href='#') Links
          li 
            a(href='#') Contact Us
      .container
        .main-content
          block content
        .sidebar
          .widget
            h5 Shows
            P 
              | November 9th, 2012
              br
              | Bogies, NY
            P 
              | December 29th, 2012?
              br
              | Upstate Concert Hall, NY
      .footer
        p &copy; Dead-Lift 2012
