extends layout
block content
  #pageHeader
    | Links
  .linksMain
    .linkClicky
      a(href='http://www.jacksonguitars.com') Jackson
      br
      a(href='http://www.fender.com') Fender
      br
      a(href='http://www.rocktron.com') Rocktron
      br
      a(href='www.mesaboogie.com') Mesa Boogie 
      br
      a(href='www.tama.com') Tama
      br
      a(href='www.zildjian.com') Zildjian
      br
      a(href='www.akg.com') AKG
      br
      a(href='www.parkwaymusic.com') Parkway Music
      br
      a(href='www.dromesound.com') Drome Sound