extends layout
block content
  .main-table
    #pageHeader
      | Edit
    each d in result 
      table
        tr(onclick="DoNav('/editPost');", method='Post')
          th #{d.title} 
        tr
          td #{d.body}
          td
        tr
          td #{d.date}