extends layout
block content
  include bandLayout.jade
  .bandContent
    #bandSplit
      .imgBand
        img(src='/images/DL_Paul.jpg', width='300', height='382')
      .aboutBand
        p
          | It all started from the first clicks of the hi-hat of 
          | "Back in Black" by AC/DC, I knew I had to play guitar. I started 
          | taking lessons at age 8, mainly classical, jazz and blues. 
          | That wasn't exactly what I was into but it did give me a better 
          | understanding of my craft. Playing guitar has been very 
          | therapeutic in dealing with all that life has to offer. It's a 
          | process of blending every emotion into something that everyone 
          | can connect with.
        p
          | My main influences range from AC/DC, Exodus, Bolt Thrower, 
          | Metallica, Pantera, Type O Negative, Lamb of God, Ozzy, G'n'R' 
          | and Alice in Chains, but I'll listen to almost anything - except 
          | Country. I play Jackson guitars, Crate cab, GHS Strings, Furman 
          | power conditioner, Korg tuner and a Rocktron Chameleon 2000 and 
          | Velocity Amp.
