extends layout
block content
  #pageHeader
    | Poor Man's Anthem
  .discMain
    .discImageLeft
      img(src='/images/poormans.jpg', width='200', height='200', alt="Poor Man's Anthem")
    .discDescriptionRight
      | In 2007, with the departure of co-founder Tony DiSorbo (drums), 
      | line up changes were made. Bob Lavoy made quite an impact from the start. 
      | “Poor Man’s Anthem” is a harder hitting, more cohesive form of the original design. 
      | “Break-Down”, “No Compromise” and “Never Lay Down and Die” show the driving beats 
      | and flowing guitars that has evolved from the new line up. Title track, “Poor Man’s Anthem”, 
      | describes the present day struggle for the common man, as we all can relate to. 
      | The whole album embodies this view of making end’s meet, hardship of the middle class…it’s truly a Poor Man’s Anthem.
  #pageHeader
    | Tracks
  .tracks
    ol
      li
        p
          | Break Down
          br
          audio(controls='controls', height='75', width='100')
            source(src='/tunes/BreakDown.mp3', type='audio/mp3')
            source(src='/tunes/BreakDown.ogg', type='audio/ogg')
            embed(height='100', width='100', src='/tunes/BreakDown.mp3')
      li
        p
          | Speak My Name
      li
        p
          | No Compromise
      li
        p
          | One More Day
      li
        p
          | Hazing
      li
        p
          | Crossed the Line
      li
        p
          | For You
      li
        p
          | Never Lay Down and Die
      li
        p
          | Bring It On, Again
      li
        p
          | Way Too Long
      li
        p
          | Poor Man's Anthem