extends layout
block content
  include bandLayout.jade
  .bandContent
    #bandSplit
      .imgBand
        img(src='/images/DL_Scott.jpg', width='300', height='382')
      .aboutBand
        p
          | I have been singing in bands for 15 years. Over the years I 
          | have challenged myself at different types of singing. Led by 
          | anger, passion, and real life issues, I try to relate to the 
          | listener with every line. The band lays down the music and I 
          | take the song and try to deliver the message Many times I let 
          | the guitars determine the subject of the song by the tones, and 
          | with Dead-Lift, it happens to be a perfect fit. Since 2003, we've 
          | worked together to make great music and we try like Hell to keep 
          | the listeners guessing what's coming next.
        p
          | With every album or demo we release I try to mix up the style to 
          | touch the old and the new audience. I have found my influences 
          | changing vastly over the years which range from mainstream to the 
          | underground. My favorite Artists include Killswitch Engage, 
          | Lamb of God, Bush, 36 Crazyfists, Slipknot, Eminem, Tonedeff, 
          | Rage Against the Machine, POD, Deftones, Walls of Jericho, 
          | Lynyrd Skynyrd, U2, Skindred, and the list goes on and on. 
