extends layout
block content
  #pageHeader
    | Poor Man's Anthem
  .discMain
    .discImageLeft
      img(src='/images/thestruggle.jpg', width='200', height='200', alt="Poor Man's Anthem")
    .discDescriptionRight
      | 4 guys from Schenectady NY + instruments + desire to make music=Dead-Lift.
  #pageHeader
    | Tracks
  .tracks
    ol
      li
        span
          | Tainted Mind
      li
        span
          | Left Behind
      li
        span
          | Respect Me Now
      li
        span
          | Smalbany
      li
        span
          | Misery
      li
        span
          | Bring It One
      li
        span
          | Just Like You
      li
        span
          | Americo's Melody (Ricky's Song)
      li
        span
          | My Sunday
      li
        span
          | Whack Job
      li
        span
          | The Gnashing of Teeth
      li
        span
          | M.F.L