extends videoLayout
block content
  h1 Video 1
    p
      a.yt.fancybox.iframe(title='', href='http://www.youtube.com/watch?v=EYCQUC7qo98') Video
    p
      a.yt.fancybox.iframe(title='Speak My Name', href='http://youtu.be/GKiIdPr2u9I') Speak My Name
    p
      a.yt.fancybox.iframe(title='Respect Me Now', href='http://www.youtube.com/embed/Fjx2EShXbT8') Respect Me Now
    p
      a.yt.fancybox.iframe(title='Crossed the Line', href='http://youtu.be/jKrJvlW8E_4') Crossed the Line
    p
      a.yt.fancybox.iframe(title='Break Down', href='http://youtu.be/AwUtGMYvKXg') Break Down
    p
      a.yt.fancybox.iframe(title='Poor Mans Anthem', href='http://youtu.be/G5NyGVa0pP0') Poor Man's Anthem