/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')
@import url('http://fonts.googleapis.com/css?family=Permanent+Marker')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #8fde62
background-color = #faf9f0

html, body
  height 100%


body
  font-family Helvetica, Arial, sans-serif
  background-image url('/images/dl_background.jpg')
  background-color background-color
  color #ffffff

.screen
  width 100%
  height auto
  min-height 100%

a:link, a:visited
  color: #168FAD
  text-decoration none

header
  position relative
  margin-left auto
  margin-right auto
  font-family 'Permanent Marker'
  color #fff
  font-size 25px
  /*  border-bottom 1px solid darken(#8fde62, 30%)
  text-shadow 0px - 1px darken(main-color, 30%) */
  .imgHeader
    width 800px
    margin 0 auto
    position relative

nav
  .nav,
  .nav ul,
  .nav li, 
  .nav a
    margin 0 auto
    padding 0
    border none
    outline none
  .nav
    height 40px
    width 800px
    background #4c4e5a
    background -webkit-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%)
    background -moz-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%)
    background -o-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%)
    background -ms-linear-gradient(top, #4c4e5a 0%, #2c2d33 100%)
    background linear-gradient(top, #4c4e5a 0%, #2c2d33 100%)
    -webkit-border-radius 5px
    -moz-border-radius 5px
    -border=radius 5px
  .nav li
    position relative
    list-style none
    float left
    display block
    height 40px
  .nav ul
    display block
  .nav li a
    display block
    padding 0 18px
    margin 6px 0
    line-height 28px
    text-decoration none
    border-left 1px solid #393942
    border-right 1px solid #4f5058
    font-family 'Permanent Marker'
    font-size 18px
    color #f3f3f3
    text-shadow 1px 1px 1px rgba(0,0,0,.6)
    -webkit-transition color .2s ease-in-out
    -moz-transition color .2s ease-in-out
    -o-transition color .2s ease-in-out
    -ms-transition color .2s ease-in-out
    -transition color .2s ease-in-out
  .nav li:first-child a
    border-left none
  .nav li:last-child a
    border-right none
  .nav li:hover > a
    color #8fde62

.container
  position relative
  width 800px
  margin-left auto
  margin-right auto
  margin-bottom 50px

  .main-content
    float left
    position relative  
    width 600px
    margin-bottom 50px
    display block

    .main-table
      table
        width 598px
        background rgb(0, 0, 0)
        background rgba(0, 0, 0, 0.5)     
        border 1px dotted main-color
        -webkit-border-radius 10px
        -moz-border-radius 10px
        border-radius 10px
      
        th
          text-align center
          font-size 18px
          padding-top 10px
          padding-bottom 15px 
        td
          text-align left
          font-size 14px
          padding-left 5px
          padding-bottom 10px
        tr > td:last-of-type
          text-align right
          font-size 12px
          padding-left 0px
          padding-right 5px

    .band-table
      table
        width 598px
        tr
          margin 0px auto
        td
          input[type='button']
            width 100px
            background #4c4d4a
            -moz-border-radius 6px
            -webkit-border-radius 6px
            border-radius 6px
            color #ffffff

    h1
      color #8fde62
      text-align center
      margin 15px auto
      font-family 'Permanent Marker'
      font-size 26px

    .bandContent
      width 598px
      height 100%
      background rgb(0,0,0)
      background rgba(0,0,0,0.6)
      border 1px dotted main-color
      -moz-border-radius 10px
      -webkit-border-radius 10px
      border-radius 10px
      
      p
        margin-top 20px
        margin-bottom 20px
      #bandSplit
        overflow hidden
        margin-top 20px
        height 100%
        .imgBand
          width 301px
          float left
          margin 20px auto
          border 1px solid main-color
        .aboutBand
          width 285px
          padding-left 10px
          float right
          p
            margin-top 20px
            margin-bottom 20px

    .showTable
       width 598px
       margin-top 0px
       background rgb(0,0,0)
       background rgba(0,0,0,0.5)
       border 1px dotted main-color
       -moz-border-radius 10px
       -webkit-border-radius 10px
       border-radius 10px
       table
         width 580px
         margin 0 auto
         padding-top 20px
         padding-bottom 20px
         border-collapse separate
         th
           padding 10px 10px 9px
         td
           padding 10px 10px 9px
         tr:nth-child(odd)
           background rgb(31,31,31)
           background rgba(31,31,31,0.6)
         tr:nth-child(odd) td
           border-left 1px solid #000000

  .gallery
    margin 20px auto
    width 590px
    height 100%
    position relative

    a
      display inline-block
      width 155px
      height 190px
      margin-left 30px
      margin-bottom 5px
      position relative
      border 5px solid #fff
      -moz-box-sizing border-box
      -webkit-box-sizing border-box
      box-sizing border-box     

    a img
      display block
      width 100%
      height 100%
      -moz-transition-property width, height, top, bottom, left, right, z-index
      -moz-transition-duration 1s
      -webkit-transition-property width, height, top, bottom, left, right, z-index
      -webkit-transition-duration 1s
      -o-transition-property width, height, top, bottom, left, right, z-index
      -o-transition-duration 1s
      transition-property width, height, top, bottom, left, right, z-index
      transition-duration 1s
      position absolute
      z-index 1
      top 0px
      left 0px
      cursor pointer
      -moz-user-select none
      -khtml-user-select none

  #discHeader
    width 590px
    height 25px
    margin-top 5px
    margin-bottom 10px
    padding 5px
    font-size 20px
    text-align left
    background rgb(143,222,98)
    -moz-border-radius 10px
    -webkit-border-radius 10px
    border-radius 10px
  .discMain
    clear both
    width 600px
    height 245px
    background rgb(0,0,0)
    background rgba(0,0,0,0.5)
    -moz-border-radius 10px
    -webkit-border-radius 10px
    border-radius 10px
    .discImageLeft
      float left
      width 220px
      margin-top 20px
      margin-bottom 20px
      margin-left 10px
      a 
        display inline-block
        width 200px
        height 200px
        position relative
        border 2px solid main-color
      a img
        display block
        width 100%
        height 100%
        position absolute
    .discDescriptionRight
      float right
      width 370px
      margin-top 20px
      margin-bottom 20px
      font-size 14px
      text-align left



  .sidebar
    position relative
    float right
    width 198px
    
    h5
      font-family 'Permanent Marker'
      font-size 22px
      color #ffffff
      margin 13px 10px 4px
      padding-bottom 10px
      margin-bottom 10px

    P
      font-size 13px
      color #ffffff
      line-height 1.0
      margin-bottom 20px
      padding 0px 10px

  .img
    margin 0px auto

.footer
  clear both
  position relative
  width 800px
  height 140px
  margin 50px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px  
